DATABASE_URL=postgresql+asyncpg://app_user:app_password@db:5432/documents
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_INDEX=documents
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=changemepls
CSV_PATH=/data/posts.csv
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changemepls
POSTGRES_DB=documents
APP_DB_USER=app_user
APP_DB_PASSWORD=app_password
ELASTIC_PASSWORD=changemepls
